.main {
    display: flex;
    flex-direction: column;
    color: #333333;
}
.main > div {
    width: 100%;
    padding-left: 45px;
}
form.enter-code {
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: flex-start;
    width: fit-content;
}
form.enter-code input {
    width: 110px;
    height: 32px;
    padding: 10px;
    border: 1px solid #CECECE;
}
form.enter-code input:focus {
    outline-style: none;
    border: 1px solid #006EB6;
}
form.enter-code div {
    width: fit-content;
}
.main a {
    display: block;
    margin-top: 5px;
    margin-left: 11px;
    font-size: 14px;
    font-weight: 400;
    width: 250px;
    text-decoration: none;
    color: #006EB6;
}
.content-header {
    height: 158px;
    border-bottom: 4px solid #E5E5E5;
}
.content-header-upper h1 {
    font-size: 42px;
    font-weight: 300;
}
.content-header-lower {
    height: 52px;
    margin-top: 46px;
}
.content-header-lower ul li {
    margin-left: 0;
    height: 100%;
    margin-right: 34px;
}
.content-header-lower ul li:hover {
    color: rgb(128, 128, 128);
    cursor: pointer;
    border-bottom: 4px solid #1E79BE;
}
.content-header-lower ul {
    display: flex;
    justify-content: flex-start;
    height: 100%;
    font-size: 22px;
    font-weight: 400;
    list-style: none;
    margin: 0;
    padding-left: 0;
  }
.content {
    display: grid;
    grid-template-rows: 30px 38px 58px 30px 38px 79px;
    grid-template-columns: 1fr 1fr;
}
.content div {
    width: 100%;
}
.content-title h2 {
    font-size: 32px;
    font-weight: 300;
}
.content-title {
    padding-top: 35px;
    height: 100px;
}
.main .content-footer {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    width: 1190px;
    padding-left: 0;
    margin-left: 45px;
    height: 122px;
}
.main .content-footer > * {
    margin: 0;
}
.main .content-footer a {
    font-size: 16px;
    padding-top: 40px;
    width: fit-content;
}
.person-name {
    font-size: 18px;
    font-weight: 400;
}
.person-caption {
    font-size: 14px;
    font-weight: 400;
    color: #A1A1A1;
}
.person-name.person-upper-left {
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-column-end: 2;
}
.person-caption.person-upper-left {
    grid-row-start: 2;
    grid-column-start: 1;
    grid-row-end: 3;
    grid-column-end: 2;
}
.person-form.person-upper-left {
    grid-row-start: 3;
    grid-column-start: 1;
    grid-row-end: 4;
    grid-column-end: 2;
}
.person-name.person-upper-right {
    grid-row-start: 1;
    grid-column-start: 2;
    grid-row-end: 2;
    grid-column-end: 3;
}
.person-form.person-upper-right {
    grid-row-start: 3;
    grid-column-start: 2;
    grid-row-end: 4;
    grid-column-end: 3;
}
.person-name.person-lower-left {
    grid-row-start: 4;
    grid-column-start: 1;
    grid-row-end: 5;
    grid-column-end: 2;
}
.person-form.person-lower-left {
    grid-row-start: 6;
    grid-column-start: 1;
    grid-row-end: 7;
    grid-column-end: 2;
}
.person-name.person-lower-right {
    grid-row-start: 4;
    grid-column-start: 2;
    grid-row-end: 5;
    grid-column-end: 3;
}
.person-caption.person-lower-right {
    grid-row-start: 5;
    grid-column-start: 2;
    grid-row-end: 6;
    grid-column-end: 3;
}
.person-form.person-lower-right {
    grid-row-start: 6;
    grid-column-start: 2;
    grid-row-end: 7;
    grid-column-end: 3;
}
.content-footer form input {
    margin-top: 30px;
    appearance: none;
    border: 0;
    background: #1E79BE;
    color: #fff;
    padding: 8px 16px;
    font-size: 16px;
}
.content-footer form input[value="Сохранить и закрыть"] {
    background: white;
    color: black;
    border: 1px solid rgba(0, 0, 0, 0.15);
    margin-left: 10px;
}