*, html, body {
    box-sizing: border-box;
    margin: 0 auto;
    font-family: 'Segoe UI', 'Tahoma', 'Geneva', 'Verdana', 'sans-serif';
    background-color: #E5E5E5;
}
.wrap {
    background-color: #E5E5E5;
    display: grid;
    grid-template-rows: 50px 57px 1fr 170px;
    grid-template-columns: 1fr 1278px 1fr;
    height: 100vh;
    
    }
.wrap-header {
    display: grid;
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-column-end: 4;
    width: 100%;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.14), 0px 1px 6px rgba(0, 0, 0, 0.1);
    background-color: white;
    
}
.header {
    grid-row-start: 1;
    grid-column-start: 2;
    grid-row-end: 2;
    grid-column-end: 3;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 10px;
    background-color: white;
}
.header img {
    background-color: white;
}
.header ul {
    background-color: white;
}
.menu {
    display: inline-block;  
    margin-left: 590px;
    vertical-align: top;
}
.menu li {
    display: inline-block;
    list-style: none;  
    position: relative;
    padding: 0px 15px;
    font-size: 14px;
    background-color: white;
}
.menu li:last-child {
    padding-right:0px;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
}
.after-header {
    grid-row-start: 2;
    grid-column-start: 2;
    grid-row-end: 3;
    grid-column-end: 3;    
    margin: auto;
    margin-left: 0px;
}
.after-header a {
    background-color: unset;
    text-decoration: none;
    color: rgba(48, 114, 196, 1);
}
.main {
    border: 1px solid #DADADA;
    border-top: 2px solid #1E79BE;
    background-color: white;
    width: 100%;
    padding-top: 30px;
    grid-row-start: 3;
    grid-column-start: 2;
    grid-row-end: 4;
    grid-column-end: 3;
}
.content-header h1,
.content-header ul,
.content-header ul li,
.content-title h2,
input,
a,
form {
    background-color: white;
}
.main div {
    width: 100%;
    background-color: white;
}

.footer { 
    grid-template-rows: 100px;
    grid-template-columns: 1fr 1278px 1fr;
    grid-row-start: 4;
    grid-column-start: 1;
    grid-row-end: 5;
    grid-column-end: 4;
    background-color: #E5E5E5;
    margin-top: 30px;
}
.footer-wrap {
    display: flex;
    width: 1278px;
    align-items: flex-end;
    background-color: #E5E5E5;
}
.footer_block1 {
    margin-left: 0px;
    font-size: 14px;
    line-height: 20px;    
    color: #A1A1A1;    
    background: #E5E5E5;
    
}
.logo-img {
    float: left;
    margin-right: 8px;
  }
  
.footer-name {
    font-family: Roboto Condensed;
    font-weight: bold;
    font-size: 16px;
}
.footer_block2 {
    font-size: 14px;
    line-height: 20px;    
    color: #A1A1A1;    
    background: #E5E5E5;
    margin-right: 0px;
}
.footer_block3 {
    margin-right: 0px;
    font-size: 14px;
    line-height: 20px;    
    color: #A1A1A1;    
    background: #E5E5E5;
    text-align: right;
    margin-left: 100px;
}
.footer_block3 a {
    text-decoration: none;
    color: #A1A1A1;
    background-color: #E5E5E5;
} 